.modal{
    position: fixed;
width: 500;
height: 468;
top: 126px;
left: 390px;
gap: 40px;
border-radius: 16px;
padding: 24px;
box-shadow: 0px 0px 20px 0px #0000001A;
 
}
/* width: 1280;
height: 720;
opacity: 0.6; */


/* width: 1121;
height: 652;
gap: 24px;
width: 1121;
height: 732;
top: 64px;
left: 80px;
gap: 32px; */
